{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Announcements</h3>
      <ul>
        <li>03/21/2022: National Plunger Expo has been cancelled.</li>
        <li>03/01/2022: Plungers O'Plenty received a cease and desist.</li>
        <li>01/01/2022: Due to the government giving us "tax breaks" we are able to offer limited time discounts</li>
      </ul>
    </div>
    
  </div>
</div>
{% endblock %}