{% extends "base.html" %}
{% block title %}<title>Directory</title>{% endblock %}
{% set active_page = "directory" %}

<style>
  h3 {text-align: center;}
</style>

{% block content %}
<h3>Employee Directory</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>Name</h3>
      <p>
        Abe Elias<br>Jon Mehber<br>Ian Newbrush
      </p>
    </div>
    <div class="col-sm-3">
      <h3>Title</h3>
      <p>
        CEO & Owner<br>CFO<br>CTO
      </p>
    </div>
    <div class="col-sm-3">
      <h3>Email</h3>
      <p>
        aje1018@wildcats.unh.edu<br>jem1234@wildcats.unh.edu<br>ina128@wildcats.unh.edu
      </p>
    </div>
    <div class="col-sm-3">
      <h3>Phone #</h3>
      <p>
        555-555-5555<br>555-555-5555<br>555-555-5555
      </p>
    </div>
  </div>
</div>
{% endblock %}