{% extends "base.html" %}
{% block title %}<title>Directory</title>{% endblock %}
{% set active_page = "directory" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>Name</h3>
      <p>
        Abe Elias
      </p>
    </div>
    <div class="col-sm-3">
      <h3>Title</h3>
      <p>
        CEO & Owner
      </p>
    </div>
    <div class="col-sm-3">
      <h3>Email</h3>
      <p>
        aje1018@wildcats.unh.edu
      </p>
    </div>
    <div class="col-sm-3">
      <h3>Phone #</h3>
      <p>
        555-555-5555
      </p>
    </div>
  </div>
</div>
{% endblock %}