{% extends "base.html" %}
{% block title %}<title>Directory</title>{% endblock %}
{% set active_page = "directory" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
  <div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-12">
        <h3>Employee Directory</h3>

        <p>
          stuff
        </p>
      </div>

      <div class="col-sm-12">

        <!-- column 2 -->

        <h3>News</h3>
        <p>
          We are currently under investigation for shady business practices. All plunger operations have temporarily ceased.
        </p>
      </div>
    </div>
  </div>
{% endblock %}