{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Documents</h3>
      <ul>
        <li><a href="https://drive.google.com/file/d/1XGH-FbyTzsaQD2pCA2dnNFfvN3C-dSvN/view">company bylaws for corporations</a></li>
        <li><a href="https://www.columbus.gov/bzs/boards-and-commissions/plumbing-and-sewer/meetings/March-2014-Plumbing-Board-Meeting/">meeting minutes</a></li>
        <li><a href="https://www.pandadoc.com/nda-template/?utm_source=google&utm_medium=cpc&utm_campaign=Google_Search_NB_Templates_US_Tier2&utm_content=NDA&utm_device=c&utm_placement=&utm_term=non%20disclosure%20agreement&utm_creative=546841137000&network=g&gclid=Cj0KCQjw5-WRBhCKARIsAAId9Fmon6CUcsQyf3XadiFZcVZboj7JyflZufLmboNSLyApTFnsS-5KAT4aAsPkEALw_wcB">non-disclosure agreements</a></li>
        <li><a href="https://www.education.nh.gov/sites/g/files/ehbemt326/files/inline-documents/sonh/appendix-f-21st-cclc-sample-mou.pdf">memorandum of understanding templates</a></li>
      </ul>
    </div>
    
  </div>
</div>
{% endblock %}