{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Documents</h3>
      <ul>
        <li><a href="https://drive.google.com/file/d/1XGH-FbyTzsaQD2pCA2dnNFfvN3C-dSvN/view">company bylaws for corporations</a></li>
        <li>meeting minutes</li>
        <li>non-disclosure agreements</li>
        <li>memorandum of understanding templates</li>
      </ul>
    </div>
    
  </div>
</div>
{% endblock %}