{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Welcome</h3>

        <p>
          We are a company obsessed with plungers. Literally obsessed with them. Obsessed to the point that we want to share
          our love of plungers with the rest of the world! For a monthly fee of $99.99 you can get EXCLUSIVE access to our plunge-o-matic.
        </p>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>
        <p>
          We are currently under investigation for shady business practices. All plunger operations have temporarily ceased.
        </p>
      </div>
    </div>
  </div>
{% endblock %}